table {
    font-family: "Times New Roman", sans-serif;
    border-collapse:collapse;
    border: 1px solid black;
    width: 800px;
    border-spacing: 0;
    text-align: center;
    color: #fff;
}
tr:nth-child(odd) {
    background-color: #eb9e9e;
}
tr:nth-child(even) {
    background-color: #e68686;
}
th {
    background-color: #d73d3d;
    border: 1px solid #e0e0e0;
    padding: 15px;
    font-size: 18px;
}
td{
    border: 1px solid #e0e0e0;
    padding: 15px;
    font-size: 18px;
}
thead th:nth-child(1) {
    background-color: #e5c4c5;
}
thead th:nth-child(2) {
    background-color: #e69191;
}
thead th:nth-child(3) {
    background-color: #d86969;
}
thead th:nth-child(4) {
    background-color: #c94040;
}
thead th:nth-child(5) {
    background-color: #a82424;
}
