* {
    font-family: "Times New Roman", sans-serif;
    text-align: center;
}

h1{
    color: #ff0000;
}
h2{
    font-style: italic;
    line-height: 40px;
}

p {
    font-size: 17px;
    line-height: 10px;
}

s {
    color: gray;
}

.highlight {
    background-color: yellow;
}

hr {
    height: 4px;
    background-color: green;
    width: 50%;
}

#footer {
    text-align: center;
    font-style: italic;
    line-height: 20px;
    font-family: "Droid Sans Mono", monospace;
    font-size: 16px;
    color: #453C41;
}

