body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
}
.weather-widget {
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 430px;
    width: 100%;
}

.widget-title {
    font-size: 30px;
    margin: 0 0 5px 0;
    color: #333;
}

.widget-date {
    font-size: 0.9em;
    color: #777;
    margin: 0;
    margin-bottom: 5px;
}

.current-weather {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.current-temp-block {
    display: flex;
    align-items: flex-start;
    margin-right: 20px;
}

.current-temp {
    font-size: 45px;
    font-weight: 500;
    color: #595656;
}

.current-temp .unit {
    font-size: 20px;
    vertical-align: top;
    font-weight: 500;
    color: #9a9494;
}

.current-details {
    display: flex;
    font-size: 14px;
    color: #555;
    flex-direction: column ;
    margin-left: 40px;
}
.current-details p {
    margin: 2px 0;
}

.divider {
    border: 0;
    height: 1px;
    background-color: #a39e9e;
    margin: 10px 0;
}
.forecast-list {
    display: flex;
    flex-direction: column;
}

.forecast-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #a39e9e;
}

.day-name {
    flex-basis: 40%;
    font-weight: 700;
    color: #333;
}

.weather-icon {
    flex-basis: 15%;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.temp-range {
    flex-basis: 35%;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}

.temp-high {
    font-weight: bold;
    color: #333;
}

.temp-low {
    color: #777;
}

.pollen {
    flex-basis: 20%;
    text-align: right;
    font-size: 15px;
    color: #777;
}

.weather-icon-lg {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;

}
.weather-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.cloud-icon { background-image: url('../task-3/cloud.jpg'); }
.sun-icon { background-image: url('../task-3/sun.jpg');  }
.rain-icon { background-image: url('../task-3/rain.png'); }
.thunderstorm-icon { background-image: url('../task-3/storm.png'); }
.partly-cloudy-icon { background-image: url('../task-3/partly-cloud.png'); }