.content-block {
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 60px;
}
.block-title {
    text-align: center;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
    color: white;
}
p {
    color: white;
    text-align: justify;
    margin: 10px 0;
}
.block-top {
    background-color: #d18cb3;
}
.block-bottom {
    background-color: #d8a4c9;

}
.clearfix {
    clear: both;
}
.left {
    margin-right: 10px;
    box-sizing: border-box;
    width: 520px;
    float: left;
    margin-bottom: 15px;
    background-color: rgba(152, 146, 146, 0.81);

}
.right {
    margin-left: 10px;
    box-sizing: border-box;
    width: 520px;
    float: right;
    margin-bottom: 15px;
    background-color: rgba(152, 146, 146, 0.81);

}

.main-container {
    width: 1140px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #ffffff;
}
.logo{
    float: left;
    width: 90px;
    margin-right: 450px;
}
.menu {
    list-style-type: none;
    padding: 15px;
    margin: 0;
}
.menu li{
    margin: 10px;
    float: left;
}
.menu li a{
    display: inline-block;
    padding: 10px;
    background-color: #fddfe7;
    text-decoration: none;
    color: #9c847c;
}