.shadow-item {
    padding: 10px;
    display: inline-block;
    margin: 40px;
    border: 1px solid #804f70;
    box-sizing: border-box;
    width: 220px;
    height: 280px;
}
.container{
    padding: 0;
    margin: 0 130px 0 130px;
    width: 1020px;
    overflow: hidden;
}

.top-side-shadow{
    box-shadow: -5px -5px 5px #804f70;
}
.round-shadow{
    box-shadow: 0 0 10px 10px #804f70;
}
.right-bottom-shadow{
    box-shadow: 0.4em 0.4em 10px rgb(128, 79, 112);
}
.full-light-shadow{
    box-shadow: 0 0 45px 1px #804f70
}
.four-colored-shadow{
    box-shadow: inset 0 5px #e60023, inset 5px 0 #1a73e8, inset -5px 0 #ff8800, inset 0 -5px #008000;
}
.duo-shadow{
    box-shadow: 0px -15px 0px -8px #ff8800, 0px 15px 0px -8px #008000;
}

.card-image {
    width: 200px;
    height: 200px;
    display: block;
}
.logo{
    float: left;
    width: 90px;
    margin-right: 450px;
}
.menu {
    list-style-type: none;
    padding: 15px;
    margin: 0;
}
.menu li{
    margin: 10px;
    float: left;
}
.menu li a{
    display: inline-block;
    padding: 10px;
    background-color: #fddfe7;
    text-decoration: none;
    color: #9c847c;
}
.main-container {
    width: 1140px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}